doctype html
html
	head
		style
			include ../style.css
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script.
			$(document).ready(function () {
				$('#submit').click(function(event) {
					if($('#title').val().trim().length === 0 || $('#body').val().trim().length === 0) {
						event.preventDefault();
						$('#error-message').html("No proper post is found!");
					}
				});
			});
	body
		#nav
			ul
				li 
					a(href='/') HOOOME ✿
				li 
					a(href='/login') LOG IN ✿
				li
					a(href='/register') OR REGISTER ✿
				li
					a(href='/profile') CHECK OUT YOUR PROFILE ✿
				li
					a(href='/createpost') OR CREATE AN AMAZING POST ✿
				li
					a(href='/overview') AND IF YOU WANT TO, YOU CAN SEE ALL POSTS ✿
				li.active
					a(href='/specific') OR A SPECIFIC POST ✿
				li
					a(href='/logout') LOG OUT AND BYE BYE ✿
		br
		br
		#main
			if user
				a(href='/profile') view profile
				br
				a(href='/logout') log out
			else
				each user in allUsers
					a(href="/message/" + user.name) #{user.name}
					br