doctype html
html
	head
		style
			include ../../style.css
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script.
			$(document).ready(function () {
	
					}

				});
	body
		#nav
			ul
				li 
					a(href='/') HOOOME ✿
				li 
					a(href='/login') LOG IN ✿
				li
					a(href='/register') OR REGISTER ✿
				li.active
					a(href='/profile') CHECK OUT YOUR PROFILE ✿
				li
					a(href='/createpost') OR CREATE AN AMAZING POST ✿
				li
					a(href='/overview') AND IF YOU WANT TO, YOU CAN SEE ALL POSTS ✿
				li
					a(href='/specific') OR A SPECIFIC POST ✿
				li
					a(href='/logout') LOG OUT AND BYE BYE ✿
		br
		br
		#main
			p Welkom alle berichten van ..
				each message in allUsersMessages
					h3 ✏ #{message.title}
					h3 ✏ #{message.body}
						form(action='/users/post/comments' method='post')
							h4 comment:
							input#body(name='body')
							input(type='submit' value='submit' id='submit')
				each comment in allComments
					h4 #{comment.body} written by #{comment.username}
					//- each comment in allcomments
			
